.profile-container {
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: [col1-start] 7fr [col2-start] 5fr [col2-end];
  grid-template-rows: [row1-start] 6fr [row2-start] 6fr [row2-end];
}

#username-update-form {
  padding-top: 10px;
  background-color: #fff;
  text-align: center;
  grid-column: col2-start;
  grid-row: row1-start / row2-end;
}

.user_info_text {
  padding: 10px;
  margin-bottom: 3rem;
  grid-column: col1-start / col3-start;
  grid-row: row1-start;
}

.favorites-container {
  grid-column: col1-start / col3-start;
  grid-row: row2-start;
  width: 100%;
}

.form-update {
  padding: 5px;
  margin-bottom: 1.5rem;
}

.fav__list_item {
  padding: 10px;
  width: 100%;
}

.fav__list_item button {
  text-align: right;
}
